<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Listas</title>

    <!-- CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- iconos -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- CSS propio -->
    <style>
        body,.container-fluid {
            height: 100%;
            background: -webkit-linear-gradient(145deg, #3062D6 20%, #956EE3 80%);
            background:    -moz-linear-gradient(145deg, #3062D6 20%, #956EE3 80%);
            background:     -ms-linear-gradient(145deg, #3062D6 20%, #956EE3 80%);
            background:      -o-linear-gradient(145deg, #3062D6 20%, #956EE3 80%);
            background:         linear-gradient(145deg, #3062D6 20%, #956EE3 80%);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        #contprincipal{
            width: 100%;
            background-color: rgba(255, 255, 255, 0.904);
            margin-top: 2%;
            border-radius: 0.8em;
            padding-top: 1%;
            padding-bottom: 2%;
            color: rgb(0, 0, 0);
        }

        #titulo{
            font-weight:bold;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(48, 67, 236);
        }

        .nombrelista{
            width: 70%;
            vertical-align: middle;
        }

        .padding-x{
            padding-left: 3%;
            padding-right: 3%;
        }

    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="d-flex flex-column justify-content-center">
              <div class="container" id="contprincipal">
                    <div class="row">
                        <div class="col-md-12 text-center" >
                            <h2 id="titulo">Mis listas</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-left: 3% ;">
                            <div class="input-group">
                                <input type="text" class="form-control" id="nuevalistaName" placeholder="Nombre de la lista...">
                                <button type="button" class="btn btn-primary" onclick="crearLista()">Crear lista</button>
                              </div>
                        </div>  
                    </div>
                    <hr>
                    <div class="row text-center">
                      <input type="hidden" name="iduser" id="iduser" value="<%= iduser %>">
                        <div class="col-md-12 padding-x">
                            <table class="table table-hover">
                                <tbody class="cuerpo" id="cuerpo">
                                 
                                </tbody>
                              </table>
                        </div>
                 
                    </div>
              </div>
        </div>
    </div>
    <!-- Javascript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
        //Obtener las listas del usuario al momento de la carga de la página
        $(document).ready(function(){
            cargarListas();
        });

        function cargarListas(){
            const iduser = $('#iduser').val();
            const url = 'http://localhost:3000/api/' + iduser + '/listas';

            //Variable con la que se construiran los elementos html
            let html = '';


            //Realizar el llamado al API
            $.ajax({
                type: 'GET',
                url: url,
                dataType: "json",
                success: function(response){
                    if (response.responseCode == 1){
                        console.log(response);
                        if (response.data.length > 0){
                            response.data.forEach(element => {
                                html += '<tr>';
                                html += '<td>' + element.nombrelista + '</td>';
                                html += `<td><button class="btn btn-primary" onclick="verLista(${element.idlista})">Ver lista</button>`;
                                html += ` <button class="btn btn-danger" onclick="eliminarLista(${element.idlista})"><i class="fa fa-trash"></i></button>`;
                                html += '</tr>';
                            });
                        }
                        else{
                            html += '<tr><td colspan="2">Vaya! Parece que no tienes ninguna lista.</td></tr>';
                        }
                        $('#cuerpo').html(html);
                    } else{
                        alert(response.message);
                        console.log(response);
                    }
                },
                error: function(error){
                    console.log(error);
                    alert('Ha ocurrido un error al obtener la información');
                }
            });
        }

        function crearLista(){
            const iduser = $('#iduser').val();
            const nombrelista = $('#nuevalistaName').val();

            const crearUrl = 'http://localhost:3000/api/listas/nueva/';
            
            const listaObj = {
                nombrelista: nombrelista,
                iduser: iduser
            };
            const lista = JSON.stringify(listaObj);
            $.ajax({
                type: 'POST',
                url: crearUrl,
                dataType: "json",
                data: lista,
                contentType: "application/json; charset=utf-8",
                success: function(response){
                    if (response.responseCode == 1){
                        console.log(response);
                        cargarListas();
                        $('#nuevalistaName').val('');
                        
                    } else{
                        alert(response.message);
                    }
                },
                error: function(error){
                    console.log(error);
                    alert('Ha ocurrido un error al obtener la información');
                }
            });
        }


        function eliminarLista(idlista){
            const url = 'http://localhost:3000/api/listas/borrar/' + idlista;
            $.ajax({
                type: 'DELETE',
                url: url,
                dataType: "json",
                success: function(response){
                    if (response.responseCode == 1){
                        console.log(response);
                        alert("Lista eliminada");
                        cargarListas();
                    } else{
                        alert(response.message);
                    }
                },
                error: function(error){
                    console.log(error);
                    alert('Ha ocurrido un error al establecer la comunicación con el servidor');
                }
            });
        }


        function verLista(idlista){
            let url = 'http://localhost:3000/lista/' + idlista;
            //Realizar el llamado al API
            $(location).attr('href', url);         
        }
    </script>
</body>
</html>